h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: 600;
}

h1 {
  font-size: 4rem;
}

p {
  line-height: 1.8;
  font-size: 1.125rem;
}

.caption {
    font-size: 0.9rem;
    color: var(--color-secondary-text);
}
